{% extends "layouts/default.twig" %}
{% block content %}
    <section id="login-section">
    
        <h1 class="heading">Se créer un compte</h1>
        <form action="{{ route('user.register') }}" method="POST">
            <div>
                <label for="firstname">Votre Prénom</label>
                <input type="text" name="firstname" value="{{post.firstname}}">
                {% for error in errors.firstname %}
                    <p class="red-error">{{error}}</p>
                {% endfor %}
            </div>

            <div>
                <label for="lastname">Votre Nom</label>
                <input type="text" name="lastname" value="{{post.lastname}}">
                {% for error in errors.lastname %}
                    <p class="red-error">{{error}}</p>
                {% endfor %}
            </div>
            <div>
                <label for="email">Votre Mail</label>
                <input type="text" name="email" value="{{post.email}}">
                {% for error in errors.email %}
                    <p class="red-error">{{error}}</p>
                {% endfor %}
            </div>
            <div>
                <label for="pass">Votre mot de passe</label>
                <input type="text" name="pass" value="{{post.pass}}">
                {% for error in errors.pass %}
                    <p class="red-error">{{error}}</p>
                {% endfor %}
            </div>
            <button type="submit" class="btn">Se créer un compte</button>
        </form>

        <div class="padd40top">
            <p>Si vous avez déjà un compte, rendez vous sur la page de connexion</p>
            <div class="padd40top">
                <a href="{{ route('user.login') }}" class="btn" >Login</a>
            </div>
            
        </div>
        
    </section>

{% endblock %}