{% extends "layouts/default.twig" %}
{% block stylesheet %}
    <style>
    </style>
{% endblock %}
{% block content %}




<section id="article-section">
    <div>
        {{ flash('comment-message') }}
    </div>
    <div id="post-details">
        <h1 class="heading">{{post.title}}</h1>
        <p class="info">{{post.content}}</p>
        <p>{{post.created_at}}</p>
        <a href="{{ route('post.index') }}">Retour</a>
    </div>
</section>
    


<section id="postedcomments-section">


    <div id="comm">
        {% for comment in comments %}
            <div class="comment">
                <p>{{comment.user.lastname}}</p>
                <p class="comment-content">{{comment.content}}</p>
                <p>{{comment.created_at}}</p>
            </div>    
        {% endfor %}
        
    </div>
</section>     
    {% if auth.status == null %}
        <p>Pour laisser un commentaire <a href="{{ route('user.login') }}" class="btn">se connecter</a></p>          
        
        {% else %}
           
        <section id="comment-section">

           <!-- CREATION COMMENTAIRE -->

            <div id="createcomment">
                <form action="{{ route('comment.create') }}" method="post">
                    <div>
                        <input type="hidden" name="user_id" value="{{user_id}}" > <!--ENVOYER L'ID de mon utilisateur session-->
                        <input type="hidden" name="post_id" value="{{post.id}}" >
                    </div>
                    <div>
                        <label for="title-comment">TItre</label><br>
                        <input type="text" name="title-comment" id="title-comment" value="{{comment.title}}">
                        {% for error in errors.title %}
                            <p class="red-error">{{error}}</p>
                        {% endfor %}
                    </div>

                    <div>
                        <label for="comment">Commentaire</label> <br>
                        <textarea name="comment" id="" cols="30" rows="10">{{comment.comment}}</textarea>
                        {% for error in errors.content %}
                            <p class="red-error">{{error}}</p>
                        {% endfor %}
                    </div>

                    <button class="btn" type="submit">Laisser un commentaire</button>
                </form>
            </div>
        </section>

    {% endif %} 
    
{% endblock %}



