{% extends "layouts/default.twig" %}
{% block content %}
    <div class="content">

        <section id="project-section">
            <h2 class="heading padd40top">Les commentaires à valider :</h2>
            <div class="deck-card">
                
                {% for comment in commentsToValidate %}
                    <div class="comment-admin" id="comment-{{comment.id}}">
                        <p class="padd20bot">Article : {{comment.post.title}}</p>
                        <p class="padd20bot">{{comment.title}}</p>
                        <p class="padd20bot">{{comment.content}}</p>
                        <p class="padd20bot">Utilisateur : {{comment.user.lastname}}</p>
                        <button value="{{comment.id}}" class="btn validate-btn" >Mettre en ligne</button>
                        <button class="btn delete-comment btn-delete" value="{{comment.id}}" onclick="return confirm('êtes vous certain de vouloir supprimer ce commentaire ?')">Supprimer</button>
                    </div>
                {% endfor %}
            </div>

            <h2 class="heading padd40top">Les commentaires validés :</h2>

            <div class="deck-card" id="validatedComments">
                
                {% for validatedComment in validatedComments %}
                    <div class="comment-admin" id="comment-{{validatedComment.id}}">
                        <p class="padd20bot">Article : {{validatedComment.post.title}}</p>
                        <p class="padd20bot">{{validatedComment.title}}</p>
                        <p class="padd20bot">{{validatedComment.content}}</p>
                        <p class="padd20bot">Utilisateur : {{validatedComment.user.lastname}}</p>
                        <button class="btn delete-comment btn-delete" value="{{validatedComment.id}}" onclick="return confirm('êtes vous certain de vouloir supprimer ce commentaire ?')">Supprimer</button>

                    </div>
                {% endfor %}
            </div>
        </section>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(function(){

            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                }
            });

            $(".validate-btn").click(function () {
                let click = $(this)
                let comment_id = $(this).val()
                let rowvalidated = $('#validatedComments')
                let data = {
                    'comment_id': comment_id,
                }
                
                $.ajax({
                    type: "POST",
                    url: "/BlogPost-main/admin/comment/" + comment_id,
                    data: data,
                    success: function(response){
                        parse_response = JSON.parse(response)
                        click.closest('.comment-admin').remove()
                        rowvalidated.append(`
                            <div class="comment-admin" id="comment-${parse_response.comment_id}">
                                <p class="padd20bot">Article :${parse_response.post}</p>
                                <p class="padd20bot">${parse_response.title}</p>
                                <p class="padd20bot">${parse_response.content}</p>
                                <p class="padd20bot">Utilisateur : ${parse_response.user}</p>
                                <button value="${parse_response.comment_id}" class="btn btn-delete delete-comment" onclick="return confirm('êtes vous certain de vouloir supprimer ce commentaire ?')" >Supprimer</button>
                            </div>`
                        );
                    }
                })
            });

            $(".delete-comment").click(function () {
                let comment_id = $(this).val();
                let thisclick = $(this);
                $.ajax({
                    type: "GET",
                    url: "/BlogPost-main/admin/comment/" + comment_id + "/delete",
                    success: function(response){
                        thisclick.closest('.comment-admin').remove()
                    }
                })
            })

        });
    </script>


{% endblock %}