<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="http://localhost/BlogPost-main/public/assets/css/main.css" rel="stylesheet">
        <link href="http://localhost/BlogPost-main/public/assets/css/style.css" rel="stylesheet">
        {% block stylesheet %}
       
        {% endblock %}
       
        <title>Blog - Adélie</title>
    </head>

    <body>
    
        <header>
            <!-- navbar -->
            <nav class="navbar">
                <a href="{{ route('home.index') }}" class="links" ><h1 class="logo">Web blog</h1></a>
                <ul class="nav-links-container">

                    <li class="nav-link"><a href="{{ route('home.index') }}" class="links">Accueil</a></li>
                    <li class="nav-link"><a href="{{ route('post.index') }}" class="links">Articles</a></li>

                    {% if auth.status == null %}
                        <li class="nav-link"><a href="{{ route('user.login') }}" class="links">Login</a></li>
                        <li class="nav-link"><a href="#contact-section" class="links">Contact</a></li>
                        {% else %}
                            
                            <li class="nav-link"><a href="{{ route('user.logout') }}" class="links">Logout</a></li>
                            <li class="nav-link"><a href="{{ route('home.contact') }}" class="links">Contact</a></li>
                        {% if auth.status == 1 %}
                            <li class="has-dropdown" >
                                <a href="#">{{ auth.firstname }}</a>
                                <ul class="dropdown">
                                    <li><a class="li-drop" href="{{ route('admin.articles') }}">Mes articles</a></li>
                                    <li><a class="li-drop" href="{{ route('admin.create') }}">Créer un article</a></li>
                                    <li><a class="li-drop" href="{{ route('comments.index') }}">Les commentaires</a></li>
                                </ul>
                            </li>  
                        {% endif %}

                    {% endif %}   
                    
                </ul>
            </nav>

           
        </header>

      
        <main class="">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </main>

    <!-- footer
    ================================================== -->
    <section id="footer-section">
        
        <footer id="footer">
            <div class="card_deck">
                <div class="column large-full ss-copyright">
                    <span>© Copyright WEB Blog 2023</span> 
                    <span>Design by Adélie</span>
                </div>            
            </div>
        </footer>
    </section>
    <script src="http://localhost/BlogPost-main/public/assets/js/jquery-3.6.3.min.js" ></script>
    {% block javascripts %}
    
    {% endblock %}
    </body>
    
</html>
